@font-face{
	font-family:raleway;
	src: url('../font/raleway.woff2') format('woff2');
}
/*
body {
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
}*/
.twelve.columns{ 
	border:3px solid #FFE57F;
	border-radius:5px;
}

.menu_bar{
	background-color:#FFE57F;
}

.button{
	background-color:white;
}

.cont{
	margin-top:5%;
}

.margin_button{
	margin-left:1%;
	margin-bottom:1%;
	margin-top:1%;
}

.sign{
	margin-left:47%;
}

.sign2{
	margin-left:70%;
}

.reg_form{
	margin-left:10px;
	margin-top:3%;
	width:200%;
	text-align:center;
	border:2px solid #FFE57F;
}

.dob{
	width:9%;
}

.space{
	margin-top:2%;
}

h3{
	font-weight:bold;
	text-align:center;
}

h4{
	font-weight:bold;
}

.room1{
	text-align:center;
}

.standard{
margin-left:12%;
}

.deluxe{
margin-left:7%;
}

.suite{
margin-left:7%;
}

.room_label{
	margin-left:17%;
}

.img_center{
	position:relative;
	left:13%;
}

.checkin{
	width:19%;
}

.year{
	width:23%;
}

.more_image{
	margin-left:170%;
	margin-top:-500px;
}

.more_image2{
	margin-left:170%;
	margin-top:-430px;
}

.more_image3{
	margin-left:170%;
	margin-top:-420px;
}

.more_image4{
	margin-left:170%;
	margin-top:-470px;
}

.next_button{
	margin-left:130%;
}

.move{
	margin-left:100px;
}

.move2{
	margin-left:50px;
}

.move3{
	margin-left:100px;
}

#standard{
	position:absolute;
}

#deluxe{
	position:absolute;
	top:190%;
}

#suite{
	position:absolute;
	top:280%;
}
.sdr{
	position:abosulte;
}

.dr{
	position:absolute;
	left:45%;
	margin-top:-49px;
}

.sr{
	position:absolute;
	left:74%;
	margin-top:-49px;
}